<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>运维管理平台</title>
    <link rel="stylesheet" href="/static/myadmin/layui/css/layui.css">
</head>
<body>
<div id="search_form" style="margin-left: 15px;margin-top: 10px;">
    <form class="layui-form layui-form-pane" id="search_form">
        {% csrf_token %}
        <div class="layui-form-item">
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm layui-btn-danger" id="delete">删除标记行</button>
            </div>
        </div>
    </form>
</div>


<table id="property_table" lay-filter="propertyTable"></table>

<script src="/static/myadmin/layui/layui.js"></script>
<!-- 表格操作按钮 -->
<script type="text/html" id="actionTable">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
    </div>
</script>
<script>
    layui.use(['table', 'form', 'element'], function () {
        var table = layui.table,
            form = layui.form,
            $ = layui.jquery;
        <!-- 渲染表格 -->
        table.render({
            elem: '#property_table',
            url: '{% url "property_get" %}' + "?asset_number=" + '{{ asset_number }}',
            id: 'propertyTable',
            page: true,
            limit: 20,
            limits: [20, 40, 60, 80, 100],
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', width:'100', align: "center"},
                {field: 'property_name', title: '属性名称', width:'270', align: "center"},
                {field: 'property_value', title: '属性值', width:'270', align: "center"},
                {field: 'action', title: '操作', fixed: 'right', width:'100', align: 'center', toolbar: '#actionTable'}
            ]]
        });
        <!-- 监听表格按钮事件 -->
        table.on('tool(propertyTable)',function (obj) {
            var data = obj.data,
                layEvent = obj.event,
                tr = obj.tr;
            if (layEvent === "edit") {
                layer.open({
                    type: 2,
                    title: ['编辑资产属性', 'font-size:20px;'],
                    id: 'edit_property', //防止重复弹出
                    content: '{% url "edit_property" %}' + "?asset_number=" + '{{ asset_number }}' + "&p_id=" + data.id,
                    area: ["700px", "300px"],
                    maxmin: false,
                    end: function () {
                        table.reload("propertyTable");
                    }
                });
            }
            else if (layEvent === "del") {
                layer.confirm(
                    '确定彻底删除' + data.id + '这个属性吗？删除之后无法复原哦!',
                    {
                        icon: 2,
                        title: "彻底删除" + data.id + "?"
                    },
                    function (index) {
                        $.post('{% url 'property_delete' %}' + "?p_id=" + data.id);
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        table.reload("propertyTable");
                        layer.msg("删除完毕");
                        layer.close(index);
                    }
                );
            }
        });
        <!-- 监听删除事件 -->
        $("#delete").click(function () {
            $("form").submit(function (event) {
                event.preventDefault();
            });
            var checkStatus = table.checkStatus('propertyTable');
            var data = checkStatus.data;
            var id_array = [];
            $.each(data, function (index, value) {
                id_array.push(value.id);
            });
            if (id_array.length === 0) {
                layer.msg("没有选中任何记录");
            }
            else {
                layer.confirm(
                    "确定批量删除吗？",
                    {
                        icon: 2,
                        title: "彻底删除？"
                    },
                    function (index) {
                        $.ajax({
                            url: '{% url "property_delete" %}',
                            data: {
                                "id_data": JSON.stringify(id_array),
                                "batch": true,
                            },
                            type: 'post',
                            dataType: 'json',
                            async: false,
                        });
                        layer.close(index);
                        layer.msg("批量删除成功");
                        table.reload('propertyTable');
                    }
                )
            }
        });
        <!-- 监听状态标记事件 -->
        $("#mark").click(function () {
            $("form").submit(function (event) {
                event.preventDefault();
            });
            var checkStatus = table.checkStatus('notificationTable');
            var data = checkStatus.data;
            var id_array = [];
            $.each(data, function (index, value) {
                id_array.push(value.id);
            });
            if (id_array.length === 0) {
                layer.msg("没有选中任何记录");
            }
            else {
                layer.confirm(
                    "确定标记为已读状态吗？",
                    {
                        icon: 1,
                    },
                    function (index) {
                        $.ajax({
                            url: '{% url "change_read_status" %}',
                            data: {
                                "id_data": JSON.stringify(id_array),
                                "type": "mark_true",
                            },
                            type: 'post',
                            dataType: 'json',
                            async: false
                        });
                        layer.close(index);
                        layer.msg("状态标记成功");
                        table.reload('notificationTable');
                    }
                )
            }
        });
        <!-- 动态获取信息等级信息 -->
        $.ajax({
            url: "{% url 'level_get' %}",
            type: "get",
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, v) {
                    $('#level').append("<option name='level' value='" + v + "'>" + v + "</option>");
                });
                $('#level').trigger('change');
                form.render();
            }
        });
    });
</script>
</body>
</html>