<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>运维管理平台</title>
    <link rel="stylesheet" href="/static/myadmin/layui/css/layui.css">
</head>
<body>
<div class="layui-fluid" id="add_form" style="margin-left: 15px;">
    <form class="layui-form layui-form-pane" id="add_form_content">
        {% csrf_token %}
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">采购日期</label>
                <div class="layui-input-block">
                    <input name="purchase_time" id="purchase_time" class="layui-input" type="text" placeholder="选择日期..."
                           value="{{ life_cycle.purchase_time|date:'Y-m-d'|default:'' }}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">入库日期</label>
                <div class="layui-input-block">
                    <input name="storage_time" id="storage_time" class="layui-input" type="text" placeholder="选择日期..."
                           value="{{ life_cycle.storage_time|date:'Y-m-d'|default:'' }}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">使用日期</label>
                <div class="layui-input-block">
                    <input name="use_time" id="use_time" class="layui-input" type="text" placeholder="选择日期..."
                           value="{{ life_cycle.use_time|date:'Y-m-d'|default:'' }}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">报废日期</label>
                <div class="layui-input-block">
                    <input name="scrap_time" id="scrap_time" class="layui-input" type="text" placeholder="选择日期..."
                           value="{{ life_cycle.scrap_time|date:'Y-m-d'|default:'' }}">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 35%;">
            <button type="button" class="layui-btn layui-btn-sm" id="add_submit">提交</button>
            <button type="reset" class="layui-btn layui-btn-sm">重置</button>
        </div>
    </form>
</div>
<script src="/static/myadmin/layui/layui.js"></script>
<script>
    layui.use(['element', 'laydate',], function () {
        var element = layui.element,
            $ = layui.jquery,
            laydate = layui.laydate;
        laydate.render({
           elem:"#purchase_time",
        });
        laydate.render({
           elem:"#storage_time",
        });
        laydate.render({
           elem:"#use_time",
        });
        laydate.render({
           elem:"#scrap_time",
        });
        $('#add_submit').click(function () {
            var purchase_time = $('#purchase_time').val(),
                storage_time = $('#storage_time').val(),
                use_time = $('#use_time').val(),
                scrap_time = $("#scrap_time").val();
            console.log('{{ asset_number }}');
            <!-- 如果成功触发表单提交，则获取父body的索引index，并在父页面关闭当前弹出层 -->
            $.ajax({
                url: "{% url 'lifecycle_update' %}",
                type: "post",
                dataType: "text",
                data: {
                    "purchase_time": purchase_time,
                    "storage_time": storage_time,
                    "use_time": use_time,
                    "scrap_time": scrap_time,
                    "asset_number": '{{ asset_number }}',
                },
                success: function (d) {
                    if (d === "ok") {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.msg("提交成功!");
                        parent.layer.close(index);
                    }
                    else {
                        parent.layer.msg(d)
                    }
                }
            })
        });
    })
</script>
</body>
</html>