<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>运维管理平台</title>
    <link rel="stylesheet" href="/static/myadmin/layui/css/layui.css">
</head>
<body>
<div class="layui-fluid" id="add_form" style="margin-left: 15px;">
    <form class="layui-form layui-form-pane" id="add_form_content">
        {% csrf_token %}
        <div class="info"><strong style="color: red;">红色星号为必填项 *</strong></div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>IP地址</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="ip_address" id="ip_address" autocomplete="off" class="layui-input layui-disabled" type="text"
                               placeholder="输入IP地址..." value="{{ d.ip_address }}" disabled>
                    {% else %}
                        <input name="ip_address" id="ip_address" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入IP地址...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>子网位数</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="prefix" id="prefix" autocomplete="off" class="layui-input" type="number"
                               placeholder="输入子网位数..." value="{{ d.prefix }}">
                    {% else %}
                        <input name="prefix" id="prefix" autocomplete="off"
                               class="layui-input" type="number" placeholder="输入子网位数...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>网关</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="gateway" id="gateway" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入网关..." value="{{ d.gateway }}">
                    {% else %}
                        <input name="gateway" id="gateway" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入网关...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">使用者</label>
                <div class="layui-input-inline">
                    <select name="person" id="person" lay-verify="person" lay-search="">
                        <option value="">--选择或搜索用户--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分配时间</label>
                <div class="layui-input-block">
                    {% if d.allocate_time %}
                        <input name="allocate_time" id="allocate_time" autocomplete="off"
                               class="layui-input" type="text" placeholder="选择日期..."
                               value="{{ d.allocate_time|date:'Y-m-d' }}">
                    {% else %}
                        <input name="allocate_time" id="allocate_time" autocomplete="off"
                               class="layui-input" type="text" placeholder="选择日期...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">到期时间</label>
                <div class="layui-input-block">
                    {% if d.end_time %}
                        <input name="end_time" id="end_time" autocomplete="off"
                               class="layui-input" type="text" placeholder="选择日期..."
                               value="{{ d.end_time|date:'Y-m-d' }}">
                    {% else %}
                        <input name="end_time" id="end_time" autocomplete="off"
                               class="layui-input" type="text" placeholder="选择日期...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">IP用途</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="usage" id="usage" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入ip用途..." value="{{ d.usage|default_if_none:"" }}">
                    {% else %}
                        <input name="usage" id="usage" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入ip用途...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>状态</label>
                <div class="layui-input-inline">
                    <select name="status" id="status" lay-verify="status" lay-search="">
                        <option value="">--选择或搜索状态--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分配区域</label>
                <div class="layui-input-inline">
                    <select name="area" id="area" lay-verify="status" lay-search="">
                        <option value="">--选择或搜索分配区域--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>提交类型</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="types" id="types" autocomplete="off" class="layui-input" type="text" value="update">
                    {% else %}
                        <input name="types" id="types" autocomplete="off" class="layui-input" type="text" value="submit">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 35%;">
            {% if d %}
                <button type="button" class="layui-btn layui-btn-sm" id="add_submit">更新</button>
            {% else %}
                <button type="button" class="layui-btn layui-btn-sm" id="add_submit">提交</button>
            {% endif %}
            <button type="reset" class="layui-btn layui-btn-sm">重置</button>
        </div>
    </form>
</div>
<script src="/static/myadmin/layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'laydate', 'layer', 'table'], function () {
        var element = layui.element,
            form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery,
            layer = layui.layer,
            table = layui.table;
        laydate.render({
            elem: '#allocate_time'
        });
        laydate.render({
            elem: '#end_time'
        });
        <!-- 获取用户名 -->
        $.ajax({
            url: "{% url 'username_get' %}",
            type: "get",
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, v) {
                    if ('{{ d.person.username }}' === v) {
                        $('#person').append("<option name='person' selected='selected' value='" + v + "'>" + v + "</option>");
                    }
                    else {
                        $('#person').append("<option name='person' value='" + v + "'>" + v + "</option>");
                    }
                });
                $('#person').trigger('change');
                form.render();
            }
        });
        <!-- 获取ip状态 -->
        $.ajax({
            url: "{% url 'ip_status_get' %}",
            type: "get",
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, v) {
                    if ('{{ d.status.status }}' === v) {
                        $('#status').append("<option name='status' selected='selected' value='" + v + "'>" + v + "</option>");
                    }
                    else {
                        $('#status').append("<option name='status' value='" + v + "'>" + v + "</option>");
                    }
                });
                $('#status').trigger('change');
                form.render();
            }
        });
        <!-- 获取分配区域 -->
        $.ajax({
            url: "{% url 'area_get' %}",
            type: "get",
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, v) {
                    if ('{{ d.area.name }}' === v) {
                        $('#area').append("<option name='area' selected='selected' value='" + v + "'>" + v + "</option>");
                    }
                    else {
                        $('#area').append("<option name='area' value='" + v + "'>" + v + "</option>");
                    }
                });
                $('#area').trigger('change');
                form.render();
            }
        });
        $('#add_submit').click(function () {
            var ip_address = $('#ip_address').val(),
                prefix = $('#prefix').val(),
                gateway = $('#gateway').val(),
                person = $('#person').val(),
                allocate_time = $('#allocate_time').val(),
                end_time = $("#end_time").val(),
                usage = $("#usage").val(),
                status = $("#status").val(),
                area = $("#area").val();
            var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            if (ip_address === "" || prefix === "" || gateway === "" || status === "") {
                layer.msg("请填写必填项内容");
                return false;  //阻止表单提交
            }
            else if (reg.test(ip_address) === false) {
                layer.msg("请输入正确的IP地址！");
                return false;
            }
            else if (reg.test(gateway) === false) {
                layer.msg("请输入正确的网关IP地址！");
                return false;
            }
            else {
                <!-- 如果成功触发表单提交，则获取父body的索引index，并在父页面关闭当前弹出层 -->
                $.ajax({
                    url: "{% url 'ip_address_add' %}",
                    type: "post",
                    dataType: "text",
                    data: {
                        "ip_address": ip_address,
                        "prefix": prefix,
                        "gateway": gateway,
                        "person": person,
                        "allocate_time": allocate_time,
                        "end_time": end_time,
                        "usage": usage,
                        "status": status,
                        "area": area,
                        "types": $("#types").val(),
                    },
                    success: function (d) {
                        if (d === "ok") {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.msg("提交成功!");
                            parent.layer.close(index);
                        }
                        else {
                            parent.layer.msg(d)
                        }
                    }
                })
            }
        });
    })
</script>
</body>
</html>