<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>运维管理平台</title>
    <link rel="stylesheet" href="/static/myadmin/layui/css/layui.css">
</head>
<body>
<div class="layui-fluid" id="add_form" style="margin-left: 15px;">
    <form class="layui-form layui-form-pane" id="add_form_content">
        {% csrf_token %}
        <div class="info"><strong style="color: red;">红色星号为必填项 *</strong></div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>文件名称</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="ks_name" id="ks_name" autocomplete="off" class="layui-input layui-disabled" type="text"
                               placeholder="输入ks文件名称..." value="{{ d.name }}" disabled>
                    {% else %}
                        <input name="ks_name" id="ks_name" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入ks文件名称...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">文件描述</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="desc" id="desc" autocomplete="off" class="layui-input" type="text"
                               placeholder="输入ks文件描述..." value="{{ d.desc|default_if_none:'' }}">
                    {% else %}
                        <input name="desc" id="desc" autocomplete="off"
                               class="layui-input" type="text" placeholder="输入ks文件描述...">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red;">* </span>文件内容</label>
                <div class="layui-input-block">
                    {% if d %}
                        <textarea class="layui-textarea" cols="350" rows="25" name="ks_content" id="ks_content"
                                  placeholder="输入ks配置文件内容...">{{ d.content }}</textarea>
                    {% else %}
                        <textarea class="layui-textarea" cols="350" rows="25" name="ks_content" id="ks_content"
                                  placeholder="输入ks配置文件内容..."></textarea>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-inline">
                <label class="layui-form-label">提交类型</label>
                <div class="layui-input-block">
                    {% if d %}
                        <input name="types" id="types" autocomplete="off" class="layui-input" type="text" value="update">
                    {% else %}
                        <input name="types" id="types" autocomplete="off" class="layui-input" type="text" value="submit">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 35%;">
            {% if d %}
                <button type="button" class="layui-btn layui-btn-sm" id="add_submit">更新</button>
            {% else %}
                <button type="button" class="layui-btn layui-btn-sm" id="add_submit">提交</button>
            {% endif %}
            <button type="reset" class="layui-btn layui-btn-sm">重置</button>
        </div>
    </form>
</div>
<script src="/static/myadmin/layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'laydate', 'layer', 'table'], function () {
        var element = layui.element,
            form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery,
            layer = layui.layer,
            table = layui.table;
        $('#add_submit').click(function () {
            var name = $('#ks_name').val(),
                desc = $('#desc').val(),
                content = $('#ks_content').val();
            if (name === "" || content === "") {
                layer.msg("请填写必填项内容");
                return false;  //阻止表单提交
            }
            else {
                <!-- 如果成功触发表单提交，则获取父body的索引index，并在父页面关闭当前弹出层 -->
                $.ajax({
                    url: "{% url 'ks_add' %}",
                    type: "post",
                    dataType: "text",
                    data: {
                        "name": name,
                        "desc": desc,
                        "content": content,
                        "types": $("#types").val(),
                    },
                    success: function (d) {
                        var index = parent.layer.getFrameIndex(window.name);
                        if (d === "ok") {
                            parent.layer.msg("添加成功!");
                            parent.layer.close(index);
                        }
                        else if (d === "AlreadyExists") {
                            console.log(d)
                            parent.layer.msg("目标文件已存在，请确认!");
                            parent.layer.close(index);
                        }
                        else if (d === "AuthenticationFail") {
                            parent.layer.msg("远程主机连接失败，请检查账号密码!");
                            parent.layer.close(index);
                        }
                    }
                })
            }
        });
    })
</script>
</body>
</html>